.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
}

@media screen and (max-width: 690px) {
  .footer__menu {
    gap: 32px;
    grid-auto-flow: row;
  }
}
