.header {
  margin: 0 auto;
  width: calc(100% - 48px*2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 968px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 568px) {
  .header {
    width: calc(100% - 16px*2);
  }
}
