.content {
  display: grid;
  row-gap: 92px;
}

@media screen and (max-width: 968px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 568px) {
  .content {
    row-gap: 64px;
  }
}
