.lead__title {
  width: calc(100% - 132px*2);
  margin: 0 auto 16px;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1124px) {
  .lead__title {
    width: calc(100% - 104px*2);
  }
}

@media screen and (max-width: 968px) {
  .lead__title {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 730px) {
  .lead__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 568px) {
  .lead__title {
    width: calc(100% - 16px*2);
    margin: 0 auto 8px;
    font-size: 40px;
    line-height: 44px;
  }
}
