.place__paragraph {
  margin: 0 0 26px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  color: #FFFFFF;
  align-self: start;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 968px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

